@font-face {
  font-family: 'Geosans';
  src: url('http://dymanticdesign.com/fonts/GeosansLight.ttf');
}

$geosans: 'Geosans', Helvetica, Ariel, sans-serif;
$opensans: 'Open Sans', Helvetica, Ariel, sans-serif;