.task-vitals.brief-vitals {
  &>li {
    width: 23%;
  }
}

.brief-client-outline {
  font-family: $opensans;
  color: $darkgrey;
  padding: 10px;
  h3 {
    color: $primary_blue;
    font-family: $geosans;
  }
}

#subBriefTabs {
  margin-top: 50px;
}

.client-brief-box {
  .question {
    color: $primary_blue;

    &:before {
      content: '\00bb';
      padding-right: 10px;
    }
  }

  .answer {
    padding-left: 30px;
    max-width: 600px;
  }
}