html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.complete-page-wrapper {
  width: 100%;
  min-height: 100vh;
}

.content-divider {
  margin: 2em 0;
  border-color: $primary_orange;
}

a {
  color: inherit;
  text-decoration: none;
}